@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@300&display=swap');

$darkText: #4A4A4A;
$lightText: #dcdcdc;
$lightBorderColor: rgba(255, 255, 255, 0.56);


.centeredChildren {
  align-items: center;
  justify-content: center;
}

.evenlySpacedChildren {
  align-items: center;
  justify-content: space-evenly;
}


.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

#root {
  @extend .centeredChildren;

}


#weatherApp {
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-self: center;
  align-self: center;
  background: linear-gradient(45deg, #9a523b, #862e52, #1d5b71, #15e0b0);
  background-size: 600% 600%;
  box-sizing: border-box;
  animation: bgCycle 20s ease-in-out infinite;

  #weatherHeader {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    padding: .25em;
    color: $lightText;
    img{
      height: 1em;
    }
    #headerSubtitle{
      text-align: center;
      font-size: .5em;
    }
  }

  #topText {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    color: $lightText;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    #forRealsies {
      &.invalid {
        animation: softRedTextFlash 2s;
      }
    }
  }

  #desc {
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
    margin-bottom: 1.25em;
    color: $lightText;

    img {
      height: 2em;
      min-width: 1.75em;
      opacity: 0;

      .visible {
        opacity: 1;
      }
    }
  }

  #tempDisplay {
    font-size: 3em;
    @media screen and (max-width: 700px) {
      font-size: 2em;
    }
    flex: .5;
    border: solid 1px $lightBorderColor;
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .5);

    > * {
      @extend .evenlySpacedChildren;
      @extend .flexColumn;
      text-align: center;
    }


    .tempHolder {
      flex: 1;
      height: 100%;
      color: $lightText;
      padding: .5em;
      box-sizing: border-box;

      .temperatureText {
        font-family: 'Montserrat', sans-serif;
      }

      .actualTemp {
        font-weight: 300;
      }

      &#lowTemp {
        background-color: rgba(86, 152, 255, 0.25);
      }

      &#highTemp {
        background-color: rgba(231, 100, 100, 0.35);
      }

      &:nth-child(-n+2) {
        border-right: solid 2px $lightBorderColor;
      }
    }
  }

  #inputHolder {
    padding: 2.25em;
    flex-direction: column;

    form {
      label {
        font-family: "Montserrat", sans-serif;
        font-size: .8em;
      }

      #inputs {
        margin-top: .25em;
        display: flex;
        flex-direction: row;
        font-family: 'Roboto', sans-serif;

        > * {
          padding: .5em;
          margin-right: 1em;
          width: 10em;
          font-size: 1.3em;
          border-radius: 5px;
          border: 0;
        }

        @media screen and (max-width: 700px) {
          flex-direction: column;
          input {
            margin-bottom: 1em;
          }
        }

        input {
          color: $darkText;
          outline: none;
          border: solid 2px $lightBorderColor;
          box-sizing: border-box;

          transition: color .25s;

          &.invalid {
            color: #902424;
            animation: invalidJiggle .25s;
          }
        }

        button {
          cursor: pointer;
          background: #45bd77;
          font-weight: 400;
          color: $lightText;
          border: solid 2px $lightText;
          box-sizing: border-box;
          outline: none;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);

          transition: text-shadow .3s, background .3s, border-color .3s;

          &:hover {
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            background: #4ec780;
            border: solid 2px #d4d4d4;
          }
        }
      }
    }
  }
}


@keyframes bgCycle {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0 100%;
  }
}

@keyframes softRedTextFlash {
  0% {
    color: $lightText;
  }
  50% {
    color: #d24747;
  }
  100% {
    color: $lightText;
  }
}

@keyframes invalidJiggle {
  0% {
    transform: translateX(-3px);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }

}